@model NewsPortal.ViewModels.PictureUploadViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Picture</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ImageData" class="control-label"></label>
                <input type="file" name="ImageData" class="form-control"/>
            </div>
            <div class="form-group">
                <label asp-for="ArticleId" class="control-label"></label>
                <select asp-for="ArticleId" class="form-control" asp-items="ViewBag.ArticleId"></select>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
